{% extends "main.njk" %}

{% block content %}

<h2>Author&#39;s Note</h2>

<p>
  I created the Joint Kit so that I could quickly spin up new server-side
  applications and RESTful APIs.
</p>

<p>
  I found other similar solutions to either be too rigid (with respect to the
  database schema requirements), or too overarching (offering to automatically
  generate an end-to-end solution for my desired functionality).
</p>

<p>
  I simply wanted to eliminate writing the same foundation data logic over and over,
  but maintain the freedom to mix-in custom code, at any point, in order to support
  the nuances of application variance and complexity.
</p>

<p>
  Additionally, I wanted to have the logic of my HTTP API reflected as a full
  method library, to support isomorphic scenarios (where the server-side can access
  native data objects via functions, while the client-side can access serialized data
  payloads via HTTP).
</p>

<h3>Availability and Support</h3>

<p>
  The Joint Kit package is public, to demonstrate who I am, and what I do.
</p>

<p>
  You are absolutely free to use it, fork it, criticize it.
  I would be happy to hear your constructive feedback.

  <lilp>
  But, be aware that I do not have plans to accept PRs or prioritize bug fixes
  & code enhancements in a consistent, or otherwise intuitive manner. It is just
  me, and I do this in my spare time :)
  </lilp>

  <lilp>
  I do keep a <code>TODO.md</code> file at the root of the repository, however,
  that often broadcasts what is in the development roadmap.
  </lilp>
</p>

<p>
  {{ text.msig(uri='https://github.com/manicprone') }}
</p>

{% endblock %}
