{% extends "main.njk" %}

{% block content %}

<h2>Overview</h2>

<p>
  The Joint Kit is a flexible development library for:
</p>

<ul class="definition">
  <li>
    <div>connecting your Node application to a new or existing database schema</div>
  </li>
  <li>
    <div>building a server-side method library</div>
  </li>
  <li>
    <div>building a RESTful API for client applications</div>
  </li>
</ul>

<p>
  Here&#39;s where the Joint Kit fits into your application:
</p>

<p>
  [TBC - Diagram]
</p>

<h3>Quick to Implement</h3>

<p>
  At it&#39;s core, the Joint Kit provides a library of abstract data actions,
  that perform the essential data operation logic for any application.

  <lilp>
  The actions are implemented to your specific data schema and your desired functionality,
  using simple JSON configuration objects. This makes implementation quick and easy.
  </lilp>
</p>

<h3>Very Little Programming</h3>

<p>
  Nearly the entire solution can be performed with a configuration syntax (in JSON),
  leaving the programming logic to an extreme minimum.
</p>

<h3>Flexible</h3>

<p>
  If you want more complexity and deeper integration, you can leverage the library
  as a programmatic solution, granting the flexibility to augment the out-of-the-box
  capabilities with your own specialized logic.
</p>



{% endblock %}
