{# -----------------------------------------------------------------------------
 API Macros
----------------------------------------------------------------------------- #}

{# ---------------------------- #}
{# funcheader - Function Header #}
{# ---------------------------- #}
{% macro funcheader(headingText='', refID='') %}
  <div id={{ refID }}></div>
  <h4>{{ headingText }}</h4>
{% endmacro %}

{# ------------------------- #}
{# optheader - Option Header #}
{# ------------------------- #}
{% macro optheader(headingText='', refID='') %}
  <div id={{ refID }}></div>
  <h4>{{ headingText }}</h4>
{% endmacro %}

{# ------------------------ #}
{# valheader - Value Header #}
{# ------------------------ #}
{% macro valheader(headingText='', refID='') %}
  <div id={{ refID }}></div>
  <h4>{{ headingText }}</h4>
{% endmacro %}

{# ---------------------------- #}
{# actionsig - Action Signature #}
{# ---------------------------- #}
{% macro actionsig(returnsText='') %}
  <optsig>
    <div class="param">
      <label>returns</label>
      <span>{{ returnsText }}</span>
    </div>
  </optsig>
{% endmacro %}

{# ------------------------- #}
{# optsig - Option Signature #}
{# ------------------------- #}
{% macro optsig(dataTypes=[], supportedActionsText='', requiredText='') %}
  <optsig>
    <div class="param">
      <label>type</label>
      <span>
      {% set textOr = joiner('-or-') %}
      {% for dataType in dataTypes %}
        {{ textOr() }} <span class="type-value">{{ dataType }}</span>
      {% endfor %}
      </span>
    </div>
    <div class="param">
      <label>for actions</label>
      <span class="type-value">{{ supportedActionsText }}</span>
    </div>
    <div class="param">
      <label>required?</label>
      <span>{{ requiredText }}</span>
    </div>
  </optsig>
{% endmacro %}

{# ------------------------- #}
{# apidesc - API Description #}
{# ------------------------- #}
{% macro apidesc(text) %}
  {% if text %}
  <apidesc>{{ text }}</apidesc>
  {% else %}
  <apidesc>{{ caller() }}</apidesc>
  {% endif %}
{% endmacro %}

{# --------------------------------- #}
{# apireturn - API Return On Success #}
{# --------------------------------- #}
{% macro apireturnsuccess(text) %}
  <apireturn>
    <label>Returns (on success)</label>
    <span style="margin:0 8px 0 4px;">&#10132;</span>
    {{ text }}
  </apireturn>
{% endmacro %}

{# ------------------------------- #}
{# apireturn - API Return On Error #}
{# ------------------------------- #}
{% macro apireturnerror(text) %}
  <apireturn>
    <label>Returns (on error)</label>
    <span style="margin:0 8px 0 30px;">&#10132;</span>
    {{ text }}
  </apireturn>
{% endmacro %}

{# --------------------------------------------- #}
{# apisupportedspec - API Supported Spec Options #}
{# --------------------------------------------- #}
{% macro apisupportedspec(specOpts=[]) %}
  <apisupportedspec>
    <label>Supported spec options</label>
    <ul>
    {% for specOpt in specOpts %}
      <li><a href="#spec-opt-{{ specOpt }}">{{ specOpt }}</a></li>
    {% endfor %}
    </ul>
  </apisupportedspec>
{% endmacro %}
