
{# ---------------------- #}
{# apisig - API Signature #}
{# ---------------------- #}
{% macro apisig(dataTypeText='', supportedActionsText='', requiredText='') %}
  <apisig>
    <div class="header">
      <div class="type">type</div>
      <div class="desc">actions supported</div>
      <div class="bool">required?</div>
    </div>
    <div class="values">
      <div class="type">{{ dataTypeText }}</div>
      <div class="desc">{{ supportedActionsText }}</div>
      <div class="bool">{{ requiredText }}</div>
    </div>
  </apisig>
{% endmacro %}

{# ------------------------- #}
{# apidesc - API Description #}
{# ------------------------- #}
{% macro apidesc(text='') %}
  <apidesc>
    {{ text }}
  </apidesc>
{% endmacro %}
