<div id="joint-instance"></div>
<br /><br /><br />

<h2>Joint Instance</h2>

<p>
  When a Joint has been instantiated, the following properties and functions are available on the instance.
</p>

<h3 id="properties">Instance Properties</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="#instance-prop-service"><code>service</code></a></td>
    <td>The underlying service implementation (for persistence) provided at instantiation.</td>
  </tr>
  <tr>
    <td><a href="#instance-prop-serviceKey"><code>serviceKey</code></a></td>
    <td>A string value identifying the persistence service being used.</td>
  </tr>
  <tr>
    <td><a href="#instance-prop-server"><code>server</code></a></td>
    <td>The underlying server implementation, if configured.</td>
  </tr>
  <tr>
    <td><a href="#instance-prop-serverKey"><code>serverKey</code></a></td>
    <td>A string value identifying the server being used. <code><i>null</i></code> if not configured.</td>
  </tr>
  <tr>
    <td><a href="#instance-prop-output"><code>output</code></a></td>
    <td>The string value for the globally configured output format. <code class="code-ref">'native'</code> by default.</td>
  </tr>
  <tr>
    <td><a href="#instance-prop-settings"><code>settings</code></a></td>
    <td>The active settings of the instance.</td>
  </tr>
  <tr>
    <td><a href="#instance-prop-modelConfig"><code>modelConfig</code></a></td>
    <td>The active <b>model config</b> defintions, populated by the <func>generate</func> function.</td>
  </tr>
  <tr>
    <td><a href="#instance-prop-methodConfig"><code>methodConfig</code></a></td>
    <td>The active <b>method config</b> defintions, populated by the <func>generate</func> function.</td>
  </tr>
  <tr>
    <td><a href="#instance-prop-routeConfig"><code>routeConfig</code></a></td>
    <td>The active <b>route config</b> defintions, populated by the <func>generate</func> function.</td>
  </tr>
</table>

<h3 id="functions">Operational Functions</h3>

<table>
  <tr>
    <th style="width:215px;">Function</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="#instance-func-generate">generate (&nbsp;options&nbsp;)</a></td>
    <td>Executes the dynamic generation of models, methods, and routes, per the config descriptors provided.</td>
  </tr>
  <tr>
    <td><a href="#instance-func-setServer">setServer (&nbsp;server&nbsp;)</a></td>
    <td>Allows configuration of the server implementation, post-instantiation.</td>
  </tr>
  <tr>
    <td><a href="#instance-func-setOutput">setOutput (&nbsp;output&nbsp;)</a></td>
    <td>Allows configuration of the output format, post-instantiation.</td>
  </tr>
  <tr>
    <td><a href="#instance-func-updateSettings">updateSettings (&nbsp;settings&nbsp;)</a></td>
    <td>Allows modification of the Joint settings, post-instantiation.</td>
  </tr>
  <tr>
    <td><a href="#instance-func-buildAuthBundle">buildAuthBundle (&nbsp;context, rules&nbsp;)</a></td>
    <td>Generates the authBundle for an action request. This is used when hand-rolling method or router logic.</td>
  </tr>
  <tr>
    <td><a href="#instance-func-info">info (&nbsp;)</a></td>
    <td></td>
  </tr>
</table>

<h4 id="instance-func-generate">generate</h4>

<p>
  [TBC]
</p>

<h4 id="instance-func-setServer">setServer</h4>

<p>
  [TBC]
</p>

<h4 id="instance-func-setOutput">setOutput</h4>

<p>
  [TBC]
</p>

<h4 id="instance-func-updateSettings">updateSettings</h4>

<p>
  [TBC]
</p>

<h4 id="instance-func-buildAuthBundle">buildAuthBundle</h4>

<p>
  [TBC]
</p>

<h4 id="instance-func-info">info</h4>

<p>
  [TBC]
</p>
