{% extends "main.njk" %}

{% block content %}

<h2>Joint Actions</h2>

<p>
  The Joint Action set is the backbone of the Joint Kit solution.
</p>

<p>
Each Joint instance provides a robust set of abstract data actions that hook
directly to your persistence layer, handling the core logic for common data operations.
</p>

<p>
The actions are implemented using a config-like JSON syntax.
</p>

<h3>Base Actions (CRUD)</h3>



<h3>Association Actions (Relational)</h3>

{% endblock %}
