{% extends "main.njk" %}

{% block content %}

<h2>Route Config Syntax</h2>

{% call code.block(heading='route config', raised=true) -%}
[
  {
    uri: '/profile',
    post: { method: 'Profile.createProfile', successStatus: 201, body: true },
  },
  {
    uri: '/profile/:id',
    get: { method: 'Profile.getProfile' },
    post: { method: 'Profile.updateProfile', body: true },
    delete: { method: 'Profile.deleteProfile', successStatus: 204 },
  },
  {
    uri: '/profiles',
    get: { method: 'Profile.getProfiles' },
  },
]
{%- endcall %}

{% endblock %}
