# ------------------------------------------------------------------------------
# NodeJS artifacts
# ------------------------------------------------------------------------------
# (package-lock.json is ignored because we are using yarn)
node_modules/
npm-debug.log*
.eslintcache
package-lock.json

# ------------------------------------------------------------------------------
# Zip artifacts
# ------------------------------------------------------------------------------
src/**/*.zip

# ------------------------------------------------------------------------------
# OS junk files
# ------------------------------------------------------------------------------
[Tt]humbs.db
*.DS_Store
