<!DOCTYPE html>
<html lang="en">
<head>
  <title>Joint JS</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>

<body>
  <div class="app">

    <div class="title">
      Joint
    </div>

    <div class="links">
      <span><a href="https://github.com/manicprone/joint-kit">Source</a></span>
      <span><a href="guide">Docs</a></span>
    </div>

  </div>
</body>
</html>
