<div class="app-nav">
  <div class="nav-item {{ "selected" if section === 'about' }}"><a href="{{ rootURI }}">About</a></div>
  <div class="nav-item {{ "selected" if section === 'guide' }}"><a href="{{ rootURI }}/guide">Guides</a></div>
  <div class="nav-item {{ "selected" if section === 'api' }}"><a href="{{ rootURI }}/api">API</a></div>
  {#<div class="nav-item {{ "selected" if section === 'advanced' }}"><a href="{{ rootURI }}/advanced">Advanced</a></div>#}
  <div class="nav-item {{ "selected" if section === 'examples' }}"><a href="{{ rootURI }}/examples">Examples</a></div>
</div>
