<div class="app-nav">
  <span><a href="{{ rootURI }}">Overview</a></span>
  <span><a href="{{ rootURI }}/guide">Guides</a></span>
  <span><a href="{{ rootURI }}/api">API</a></span>
  <span><a href="{{ rootURI }}/examples">Examples</a></span>
</div>
