<div class="page-nav">

  {#
  ------------------------------------------------------------------------------
  Introduction
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Introduction'
  %}

  <div class="nav-group">
    {{ nav.header(header) }}
    {%
      set items = [
        { label: 'Getting Started', id: 'getting-started' },
        { label: 'Conceptual Walkthrough', id: 'conceptual-walkthrough' },
        { label: 'A Joint in Practice', id: 'joint-in-practice' }
      ]
    %}
    {{ nav.items(items, leadingURI, content) }}
  </div>

  {#
  ------------------------------------------------------------------------------
  Dev Guides
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Dev Guides'
  %}

  <div class="nav-group">
    {{ nav.header(header) }}
    {%
      set items = [
        { label: 'Defining Data Models', id: 'defining-data-models' },
        { label: 'Building a Method Library', id: 'building-a-method-library' },
        { label: 'Building a RESTful API', id: 'building-a-restful-api' }
      ]
    %}
    {{ nav.items(items, leadingURI, content) }}
  </div>

</div>
