<div class="page-nav">

  {#
  ------------------------------------------------------------------------------
  Joint Constructor API
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Joint Constructor'
  %}

  <div class="nav-group">
    {{ nav.linkheader(header, leadingURI + '/#joint-constructor') }}

    {# ------------------------------------------- Joint Constructor - params #}
    {%
      set subHeader = 'params'
    %}
    {%
      set items = [
        { label: 'service', refID:'constructor-param-service' },
        { label: 'server', refID:'constructor-param-server' },
        { label: 'output', refID:'constructor-param-output' },
        { label: 'settings', refID:'constructor-param-settings' }
      ]
    %}
    {{ nav.subnav(subHeader, items, leadingURI) }}
  </div>

  {#
  ------------------------------------------------------------------------------
  Joint Instance API
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Joint Instance'
  %}

  <div class="nav-group">
    {{ nav.linkheader(header, leadingURI + '/#joint-instance') }}

    {# ------------------------------------------ Joint Instance - properties #}
    {%
      set subHeader = 'properties'
    %}
    {%
      set items = [
        { label: 'service', refID:'instance-prop-service' },
        { label: 'serviceKey', refID:'instance-prop-serviceKey' },
        { label: 'server', refID:'instance-prop-server' },
        { label: 'serverKey', refID:'instance-prop-serverKey' },
        { label: 'output', refID:'instance-prop-output' },
        { label: 'settings', refID:'instance-prop-settings' },
        { label: 'modelConfig', refID:'instance-prop-modelConfig' },
        { label: 'methodConfig', refID:'instance-prop-methodConfig' },
        { label: 'routeConfig', refID:'instance-prop-routeConfig' }
      ]
    %}
    {{ nav.subnav(subHeader, items, leadingURI) }}

    {# ------------------------------------------ Joint Instance - functions  #}
    {%
      set subHeader = 'functions'
    %}
    {%
      set items = [
        { label: 'generate', refID:'instance-func-generate' },
        { label: 'setServer', refID:'instance-func-setServer' },
        { label: 'setOutput', refID:'instance-func-setOutput' },
        { label: 'updateSettings', refID:'instance-func-updateSettings' },
        { label: 'buildAuthBundle', refID:'instance-func-buildAuthBundle' },
        { label: 'info', refID:'instance-func-info' }
      ]
    %}
    {{ nav.subnav(subHeader, items, leadingURI) }}

    {# ---------------------------------------------- Joint Instance - models #}
    {%
      set subHeader = 'models'
    %}
    {%
      set items = [
        { label: 'model', refID:'instance-obj-model' },
        { label: 'modelByTable', refID:'instance-obj-modelByTable' },
        { label: 'modelNameByTable', refID:'instance-obj-modelNameByTable' }
      ]
    %}
    {{ nav.subnav(subHeader, items, leadingURI) }}

    {# --------------------------------------------- Joint Instance - methods #}
    {%
      set subHeader = 'methods'
    %}
    {%
      set items = [
        { label: 'method', refID:'instance-func-method' },
        { label: 'specByMethod', refID:'instance-obj-specByMethod' }
      ]
    %}
    {{ nav.subnav(subHeader, items, leadingURI) }}

    {# ---------------------------------------------- Joint Instance - router #}
    {%
      set subHeader = 'router'
    %}
    {%
      set items = [
        { label: 'router', refID:'instance-func-router' }
      ]
    %}
    {{ nav.subnav(subHeader, items, leadingURI) }}
  </div>

  {#
  ------------------------------------------------------------------------------
  Joint Actions API
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Joint Actions'
  %}

  <div class="nav-group">
    {{ nav.linkheader(header, leadingURI + '/#joint-actions') }}

    {# ------------------------------------------------- Joint Actions - CRUD #}
    {%
      set subHeader = 'CRUD'
    %}
    {%
      set items = [
        { label: 'createItem', refID:'action-createItem' },
        { label: 'upsertItem', refID: 'action-upsertItem' },
        { label: 'updateItem', refID: 'action-updateItem' },
        { label: 'getItem', refID: 'action-getItem' },
        { label: 'getItems', refID: 'action-getItems' },
        { label: 'deleteItem', refID: 'action-deleteItem' }
      ]
    %}
    {{ nav.subnav(subHeader, items, leadingURI) }}

    {# ------------------------------------------- Joint Actions - relational #}
    {%
      set subHeader = 'relational'
    %}
    {%
      set items = [
        { label: 'addAssociatedItems', refID:'action-addAssociatedItems' },
        { label: 'hasAssociatedItem', refID: 'action-hasAssociatedItem' },
        { label: 'getAllAssociatedItems', refID: 'action-getAllAssociatedItems' },
        { label: 'removeAssociatedItems', refID: 'action-removeAssociatedItems' },
        { label: 'removeAllAssociatedItems', refID: 'action-removeAllAssociatedItems' }
      ]
    %}
    {{ nav.subnav(subHeader, items, leadingURI) }}

    {# ----------------------------------------- Joint Actions - spec options #}
    {%
      set subHeader = 'spec options'
    %}
    {%
      set items = [
        { label: 'modelName', refID:'spec-opt-modelName' },
        { label: 'fields', refID: 'spec-opt-fields' },
        { label: 'fieldsToReturn', refID: 'spec-opt-fieldsToReturn' },
        { label: 'defaultOrderBy', refID: 'spec-opt-defaultOrderBy' },
        { label: 'forceAssociations', refID: 'spec-opt-forceAssociations' },
        { label: 'forceLoadDirect', refID: 'spec-opt-forceLoadDirect' },
        { label: 'auth', refID: 'spec-opt-auth' },
        { label: 'main', refID: 'spec-opt-main' },
        { label: 'association', refID: 'spec-opt-association' }
      ]
    %}
    {{ nav.subnav(subHeader, items, leadingURI) }}

    {# ---------------------------------------- Joint Actions - input options #}
    {%
      set subHeader = 'input options'
    %}
    {%
      set items = [
        { label: 'fields', refID:'input-opt-fields' },
        { label: 'fieldSet', refID: 'input-opt-fieldSet' },
        { label: 'associations', refID: 'input-opt-associations' },
        { label: 'loadDirect', refID: 'input-opt-loadDirect' },
        { label: 'orderBy', refID: 'input-opt-orderBy' },
        { label: 'paginate', refID: 'input-opt-paginate' },
        { label: 'trx', refID: 'input-opt-trx' },
        { label: 'authBundle', refID: 'input-opt-authBundle' }
      ]
    %}
    {{ nav.subnav(subHeader, items, leadingURI) }}

    {# ---------------------------------------- Joint Actions - output values #}
    {%
      set subHeader = 'output values'
    %}
    {%
      set items = [
        { label: 'native', refID:'output-value-native' },
        { label: 'json-api', refID: 'output-value-json-api' }
      ]
    %}
    {{ nav.subnav(subHeader, items, leadingURI) }}
  </div>

  {#
  ------------------------------------------------------------------------------
  Joint Action Authorization
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Joint Action Authorization'
  %}

  <div class="nav-group">
    {{ nav.linkheader(header, leadingURI + '/#joint-action-authorization') }}
  </div>

  {#
  ------------------------------------------------------------------------------
  Joint Action Errors
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Joint Action Errors'
  %}

  <div class="nav-group">
    {{ nav.linkheader(header, leadingURI + '/#joint-action-errors') }}
  </div>

  {#
  ------------------------------------------------------------------------------
  Model Config Syntax
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Model Config Syntax'
  %}

  <div class="nav-group">
    {{ nav.linkheader(header, leadingURI + '/#model-config-syntax') }}
  </div>

  {#
  ------------------------------------------------------------------------------
  Method Config Syntax
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Method Config Syntax'
  %}

  <div class="nav-group">
    {{ nav.linkheader(header, leadingURI + '/#method-config-syntax') }}
  </div>

  {#
  ------------------------------------------------------------------------------
  Route Config Syntax
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Route Config Syntax'
  %}

  <div class="nav-group">
    {{ nav.linkheader(header, leadingURI + '/#route-config-syntax') }}
  </div>
</div>
