<div class="page-nav">

  {#
  ------------------------------------------------------------------------------
  About
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'About'
  %}

  <div class="nav-group">
    {{ nav.header(header) }}
    {%
      set items = [
        { label: 'Overview', uri:leadingURI + '/overview' },
        { label: 'License', uri:leadingURI + '/license' },
        { label: 'Source', uri:leadingURI + '/source' },
        { label: 'Author\'s Note', uri:leadingURI + '/authors-note' }
      ]
    %}
    {{ nav.items(items) }}
  </div>

</div>
