<div class="page-nav">

  {#
  ------------------------------------------------------------------------------
  Introduction
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Introduction'
  %}

  <div class="nav-group">
    {{ nav.header(header) }}
    {%
      set items = [
        { label: 'Getting Started', uri:leadingURI + '/getting-started' },
        { label: 'Conceptual Walk-through', uri:leadingURI + '/conceptual-walk-through' },
        { label: 'Joint in Practice', uri:leadingURI + '/joint-in-practice' }
      ]
    %}
    {{ nav.items(items) }}
  </div>

  {#
  ------------------------------------------------------------------------------
  Dev Guides
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Dev Guides'
  %}

  <div class="nav-group">
    {{ nav.header(header) }}
    {%
      set items = [
        { label: 'Defining Data Models', uri:leadingURI + '/defining-data-models' },
        { label: 'Building a Method Library', uri:leadingURI + '/building-a-method-library' },
        { label: 'Building a RESTful API', uri:leadingURI + '/building-a-restful-api' }
      ]
    %}
    {{ nav.items(items) }}
  </div>

</div>
