<div class="page-nav">

  {#
  ------------------------------------------------------------------------------
  Examples
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'Examples'
  %}

  <div class="nav-group">
    {{ nav.header(header) }}
  </div>

</div>
