<div class="page-nav">

  {# --------------------- #}
  {# Joint Constructor API #}
  {# --------------------- #}

  <div class="nav-group">
    <div class="nav-header"><a href="{{ leadingURI }}/joint-constructor">Joint Constructor</a></div>

    <details>
      <summary class="nav-sub-header">params</summary>
      <div class="nav-sub-group">
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-constructor/#constructor-param-service">service</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-constructor/#constructor-param-server">server</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-constructor/#constructor-param-output">output</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-constructor/#constructor-param-settings">settings</a>
        </div>
      </div>
    </details>
  </div>

  {# ------------------ #}
  {# Joint Instance API #}
  {# ------------------ #}

  <div class="nav-group">
    <div class="nav-header"><a href="{{ leadingURI }}/joint-instance">Joint Instance</a></div>

    {# Joint Instance - properties #}
    <details>
      <summary class="nav-sub-header">properties</summary>
      <div class="nav-sub-group">
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-prop-service">service</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-prop-serviceKey">serviceKey</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-prop-server">server</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-prop-serverKey">serverKey</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-prop-output">output</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-prop-settings">settings</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-prop-modelConfig">modelConfig</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-prop-methodConfig">methodConfig</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-prop-routeConfig">routeConfig</a>
        </div>
      </div>
    </details>
    {# END | Joint Instance - properties #}

    {# Joint Instance - functions #}
    <details>
      <summary class="nav-sub-header">functions</summary>
      <div class="nav-sub-group">
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-func-generate">generate</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-func-setServer">setServer</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-func-setOutput">setOutput</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-func-updateSettings">updateSettings</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-func-buildAuthBundle">buildAuthBundle</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-func-info">info</a>
        </div>
      </div>
    </details>
    {# END | Joint Instance - functions #}

    {# Joint Instance - models #}
    <details>
      <summary class="nav-sub-header">models</summary>
      <div class="nav-sub-group">
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-obj-model">model</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-obj-modelByTable">modelByTable</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-obj-modelNameByTable">modelNameByTable</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-obj-specByMethod">specByMethod</a>
        </div>
      </div>
    </details>
    {# END | Joint Instance - models #}

    {# Joint Instance - methods #}
    <details>
      <summary class="nav-sub-header">methods</summary>
      <div class="nav-sub-group">
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-func-method">method</a>
        </div>
      </div>
    </details>
    {# END | Joint Instance - methods #}

    {# Joint Instance - router #}
    <details>
      <summary class="nav-sub-header">router</summary>
      <div class="nav-sub-group">
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-instance/#instance-func-router">router</a>
        </div>
      </div>
    </details>
    {# END | Joint Instance - router #}
  </div>

  {# ----------------- #}
  {# Joint Actions API #}
  {# ----------------- #}

  <div class="nav-group">
    <div class="nav-header"><a href="{{ leadingURI }}/joint-actions">Joint Actions</a></div>

    {# Joint Actions - CRUD #}
    <details>
      <summary class="nav-sub-header">CRUD</summary>
      <div class="nav-sub-group">
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#action-createItem">createItem</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#action-upsertItem">upsertItem</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#action-updateItem">updateItem</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#action-getItem">getItem</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#action-getItems">getItems</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#action-deleteItem">deleteItem</a>
        </div>
      </div>
    </details>
    {# END | Joint Actions - CRUD #}

    {# Joint Actions - relational #}
    <details>
      <summary class="nav-sub-header">relational</summary>
      <div class="nav-sub-group">
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#action-addAssociatedItems">addAssociatedItems</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#action-hasAssociatedItem">hasAssociatedItem</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#action-getAllAssociatedItems">getAllAssociatedItems</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#action-removeAssociatedItems">removeAssociatedItems</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#action-removeAllAssociatedItems">removeAllAssociatedItems</a>
        </div>
      </div>
    </details>
    {# END | Joint Actions - relational #}

    {# Joint Actions - spec options #}
    <details>
      <summary class="nav-sub-header">spec options</summary>
      <div class="nav-sub-group">
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#spec-opt-modelName">modelName</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#spec-opt-fields">fields</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#spec-opt-fieldsToReturn">fieldsToReturn</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#spec-opt-defaultOrderBy">defaultOrderBy</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#spec-opt-forceAssociations">forceAssociations</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#spec-opt-forceLoadDirect">forceLoadDirect</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#spec-opt-auth">auth</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#spec-opt-main">main</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#spec-opt-association">association</a>
        </div>
      </div>
    </details>
    {# END | Joint Actions - spec options #}

    {# Joint Actions - input options #}
    <details>
      <summary class="nav-sub-header">input options</summary>
      <div class="nav-sub-group">
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#input-opt-fields">fields</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#input-opt-fieldSet">fieldSet</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#input-opt-associations">associations</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#input-opt-loadDirect">loadDirect</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#input-opt-orderBy">orderBy</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#input-opt-paginate">paginate</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#input-opt-trx">trx</a>
        </div>
        <div class="nav-sub-item">
          <a href="{{ leadingURI }}/joint-actions/#input-opt-authBundle">authBundle</a>
        </div>
      </div>
    </details>
    {# END | Joint Actions - input options #}
  </div>

  {# -------------------------- #}
  {# Joint Action Authorization #}
  {# -------------------------- #}

  <div class="nav-group">
    <div class="nav-header"><a href="{{ leadingURI }}/joint-action-authorization">Joint Action Authorization</a></div>
  </div>

  {# ------------------- #}
  {# Joint Action Errors #}
  {# ------------------- #}

  <div class="nav-group">
    <div class="nav-header"><a href="{{ leadingURI }}/joint-action-errors">Joint Action Errors</a></div>
  </div>

  {# ----------------- #}
  {# Config Syntax API #}
  {# ----------------- #}

  <div class="nav-group">
    <div class="nav-header"><a href="{{ leadingURI }}/model-config-syntax">Model Config Syntax</a></div>
  </div>

  <div class="nav-group">
    <div class="nav-header"><a href="{{ leadingURI }}/method-config-syntax">Method Config Syntax</a></div>
  </div>

  <div class="nav-group">
    <div class="nav-header"><a href="{{ leadingURI }}/route-config-syntax">Route Config Syntax</a></div>
  </div>
</div>
