<div class="page-nav">

  {#
  ------------------------------------------------------------------------------
  About
  ------------------------------------------------------------------------------
  #}
  {%
    set header = 'About'
  %}

  <div class="nav-group">
    {{ nav.header(header) }}
    {%
      set items = [
        { label: 'Overview', id: 'overview' },
        { label: 'License', id: 'license' },
        { label: 'Source', id: 'source' },
        { label: 'Author\'s Note', id: 'authors-note' }
      ]
    %}
    {{ nav.items(items, leadingURI, content) }}
  </div>

</div>
