<div class="page-nav">
  <div class="nav-group">
    <div class="nav-header">Installation</div>

    <div class="nav-item">
      <a href="{{ leadingURI }}/prerequisites">Prerequisites</a>
    </div>
    <div class="nav-item">
      <a href="{{ leadingURI }}/install">Install</a>
    </div>
  </div>

  <div class="nav-group">
    <div class="nav-header">Overview</div>

    <div class="nav-item">
      <a href="{{ leadingURI }}/the-joint-concept">The Joint Concept (In Code)</a>
    </div>
    <div class="nav-item">
      <a href="{{ leadingURI }}/joint-in-practice">Joint in Practice</a>
    </div>
  </div>

  <div class="nav-group">
    <div class="nav-header">Guides</div>

    <div class="nav-item">
      <a href="{{ leadingURI }}/defining-data-models">Defining Data Models</a>
    </div>
    <div class="nav-item">
      <a href="{{ leadingURI }}/building-a-method-library">Building a Method Library</a>
    </div>
    <div class="nav-item">
      <a href="{{ leadingURI }}/building-a-restful-api">Building a RESTful API</a>
    </div>
  </div>
</div>
