{% extends "main.njk" %}

{% block page %}

<h1>Getting Started</h1>

<h2>Prerequisites</h2>

<p>
  To use the Joint Kit, you need:
  <ul>
    <li>a supported persistence solution (_e.g. Postgres_)</li>
    <li>a configured data schema (_e.g. database & tables_)</li>
    <li>a supported service interface / ORM</li>
  </ul>
</p>

<h2>Install</h2>

<div>Message: {{ message }}<div>

{% endblock %}
