{% extends "main.njk" %}

{% block page %}

<h1>Joint in Practice</h1>

<p>
  To implement solutions with the Joint Kit, you create _Joints_.
</p>

<p>
  A Joint connects to:
  <ul>
    <li>your persistence service &nbsp;&#10132;&nbsp; to implement a data method layer</li>
    <li>your server framework &nbsp;&#10132;&nbsp; to implement an HTTP API layer</li>
  </ul>
</p>

<p>
  The Joint Kit provides a set of data actions that are abstracted to handle common data operations for your resources. Actions are implemented using a config-like JSON syntax, making development simple and quick.
<p>

<p>
  Leverage the built-in features to satisfy 100% of your required functionality, or use them as a base to augment with your own specialized logic.
</p>

{% endblock %}
