<!DOCTYPE html>
<html lang="en">
<head>
  <title>Joint Kit</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <link rel="stylesheet" href="/styles/app.css" />
</head>

<body>

  <div class="app">
    {% block page %}
      Joint Kit
    {% endblock %}
  </div>

</body>
</html>
