{% extends "index.njk" %}

{% import "macros/api.njk" as api %}
{% import "macros/code.njk" as code %}
{% import "macros/nav.njk" as nav %}
{% import "macros/text.njk" as text %}

{% block page %}

  <div class="app-header">
    <div class="title">
      <h1><a href="/">Joint Kit</a></h1>
      <div class="version-info"><span class="version">0.0.17</span></div>
    </div>

    <div class="app-nav-container">
      {% include "navs/app-nav.njk" %}
    </div>
  </div>

  <aside class="page-nav-container">
    {% include "navs/page-nav_" + section + ".njk" %}
  </aside>

  <div class="page-content with-nav {{ section }}">
    {% block content %}
      Page Content
    {% endblock %}
  </div>

{% endblock %}
