{% extends "index.njk" %}

{% block page %}

  <div class="splash-content">
    <div class="title">
      Joint JS
    </div>

    <div class="links">
      <span><a href="https://github.com/manicprone/joint-kit">Source</a></span>
      <span><a href="docs/guide">Docs</a></span>
    </div>
  </div>

{% endblock %}
