{% extends "index.njk" %}

{% block page %}

  <div class="splash-content">
    <div class="title">
      Joint Kit
    </div>

    <div class="install-info">
      <div class="code-block">
        <pre>npm install joint-kit --save</pre>
      </div>
    </div>

    <div class="links">
      <div style="text-align:left;"><a href="https://github.com/manicprone/joint-kit">Source</a></div>
      <div style="text-align:right;"><a href="docs">Docs</a></div>
    </div>
  </div>

{% endblock %}
