{% extends "index.njk" %}

{% block page %}

  <div class="splash-content">

    <div class="title-wrapper">
      <div class="title">
        Joint Kit
      </div>
      <div class="version-info">
        <span class="heading">latest</span>
        <span class="version">0.0.18</span>
      </div>
      <div class="install-info">
        <div class="code-block">
          <pre>npm install joint-kit --save</pre>
        </div>
      </div>
    </div>

    <div class="links">
      <div><a href="https://github.com/manicprone/joint-kit">Source</a></div>
      <div><a href="docs">Docs</a></div>
    </div>

  </div>

{% endblock %}
