{% extends "main.njk" %}

{% block content %}

<h2>The Joint Concept</h2>

[TBC]

<p style="margin-top:30px">
  The Joint Kit provides a set of data actions that are abstracted to handle common data operations for your resources.
  Actions are implemented using a config-like JSON syntax, making development simple and quick.
</p>

<p>
  Leverage the built-in features of the Joint Kit to satisfy 100% of your required data layer
</p>

{{ text.dangle('or') }}

<p>
  use the Kit as a base... so you can focus on the nuances of your app, with custom code.
</p>

{% endblock %}
